# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "21987c6a6fa2887cae7254f0b9b894a9"
name = "avljs-september-2024"
handle = "avljs-september-2024"
application_url = "https://petite-pain-prospect-georgia.trycloudflare.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
dev_store_url = "avljs-september-2024.myshopify.com"
include_config_on_deploy = true

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_orders,write_customers,write_products"

[auth]
redirect_urls = [
  "https://petite-pain-prospect-georgia.trycloudflare.com/auth/callback",
  "https://petite-pain-prospect-georgia.trycloudflare.com/auth/shopify/callback",
  "https://petite-pain-prospect-georgia.trycloudflare.com/api/auth/callback"
]

[webhooks]
api_version = "2024-07"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled"]
  uri = "/webhooks"

  [[webhooks.subscriptions]]
  topics = [ "orders/create" ]
  uri = "/webhooks"
  include_fields = ["id", "customer", "line_items"]
  filter = "line_items.sku:MEMBERSHIP"

[pos]
embedded = false
